.app-features-section {
  background-image: url(/images/background-image.png);
  background-size: cover;
  display: flow-root;
  color: white;
}

.app-features-title {
    font-family: 'Josefin Sans';
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: center;
    margin: 60px auto 18px;   
}

.app-features-subtitle {
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0 38px;
}

.app-features-categories{
    display: grid;
    margin: 32px 0;
    display: grid;
    align-items: center;
}

.app-features-category {
    place-items: center;
    place-content: center;
}

.app-features-category-image{
    display: block;
    margin: 0 auto;
}

.app-features-category-title{
    font-family: 'Josefin Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    margin-top: 18px;
}

.app-features-category-info {
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 6px 76px 40px;
    max-width: 375px;
}

.app-features-mockup {
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    box-shadow: 40px 40px 100px 0px #18303F80;

}

@media (min-width: 768px) and (max-width: 1280px) {
    .app-features-categories {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .app-features-category {
        justify-items: start;
    }

    .app-features-category p,
    .app-features-category h3 {
        width: 100%;
    }

    .app-features-category:nth-child(1) {
        grid-column-start: 2;
    }


    .app-features-category:nth-child(n+2):nth-child(-n+3) {
        grid-column-start: 1;        
    }

    .app-features-category:nth-child(n+2):nth-child(-n+3) p, 
    .app-features-category:nth-child(n+2):nth-child(-n+3) h3,
    .app-features-category:nth-child(n+2):nth-child(-n+3) img {
        float: right;
        text-align: right;
    }

    .app-features-mockup {
        grid-column-start: 2;
        grid-row: 2 / 4
    }

    .app-features-category:nth-child(n+4):nth-child(-n+5) {
        grid-column-start: 3;
        grid-row: 2;
    }

    .app-features-category:nth-child(n+4):nth-child(-n+5) p,
    .app-features-category:nth-child(n+4):nth-child(-n+5) h3,
    .app-features-category:nth-child(n+4):nth-child(-n+5) img {
        margin: 0;
        text-align: left;
    }

    .app-features-category:nth-last-child(1){
        grid-column-start: 2;
    }

    .app-features-category:nth-last-child(2) p,
    .app-features-category:nth-last-child(2) h3,
    .app-features-category:nth-last-child(2) img {
        margin: 0;
        text-align: left;
    }

    .app-features-category-info {
        margin: 0;
        width: 100%;
    }
}   

@media (min-width: 1280px) {
    .app-features-categories {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .app-features-category {
        justify-items: start;
    }

    .app-features-category p,
    .app-features-category h3 {
        width: 100%;
    }

    .app-features-category:nth-child(1) {
        grid-column-start: 2;
    }


    .app-features-category:nth-child(n+2):nth-child(-n+3) {
        grid-column-start: 1;        
    }

    .app-features-category:nth-child(n+2):nth-child(-n+3) p, 
    .app-features-category:nth-child(n+2):nth-child(-n+3) h3,
    .app-features-category:nth-child(n+2):nth-child(-n+3) img {
        float: right;
        text-align: right;
    }

    .app-features-mockup {
        grid-column-start: 2;
        grid-row: 2 / 4
    }

    .app-features-category:nth-child(n+4):nth-child(-n+5) {
        grid-column-start: 3;
        grid-row: 2;
    }

    .app-features-category:nth-child(n+4):nth-child(-n+5) p,
    .app-features-category:nth-child(n+4):nth-child(-n+5) h3,
    .app-features-category:nth-child(n+4):nth-child(-n+5) img {
        margin: 0;
        text-align: left;
    }

    .app-features-category:nth-last-child(1){
        grid-column-start: 2;
    }

    .app-features-category:nth-last-child(2) p,
    .app-features-category:nth-last-child(2) h3,
    .app-features-category:nth-last-child(2) img {
        margin: 0;
        text-align: left;
    }

    .app-features-category-info {
        margin: 0;
        width: 100%;
    }
}
