body, html {
    margin: 0;
}

header {
    background-color: white;
    margin: 40px 16px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    position: relative;
    --menu-show: translateX(-100%);
    align-self: stretch;
    border-radius: 5px;
}

.header-contact {
    width: 100%;
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    position: absolute;
    top: -95px;
    left: 0;
    margin-top: 28px;
    font-family: 'Josefin Sans';
    font-size: 1rem;
    line-height: 24px;
    display: none;
}

.header-direct-contact {
    height: 24px;
    display: flex;
    align-items: center;
    gap: 48px;
    font-weight: 400;
}

.logo img{
    width: 167px
}

.header-email{
    display: flex;
    align-items: center;
    gap: 18px;
}

.header-phone{
    display: flex;
    align-items: center;
    gap: 18px;
}

.header-direct-contact h5{
    margin: 0;
}

.header-social-media {
    display: flex;
    gap: 30px;
    align-items: center;
}

.menu-toggle{
    background-image: url(/images/menu-line.svg);
    background-size: cover;
    margin: 8px;
    width: 24px;
    height: 24px;
    position: absolute;
}

.nav-menu:has(.menu:checked) {
    --menu-show: transform(translateX(0));

}

.menu-options-container {
    position: fixed;
    width: 267px;
    height: 356px;
    background-color: white;
    border-radius: 10px;
    margin: 0;
    top: 80px;
    left: 0;
    transform: var(--menu-show);
    transition: transform 0.5s;
    z-index: 2;
}

.close-menu {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
    background: #5956E9;
    background-size: cover;
    background-image: url(/images/menu-cross.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    --menu-show: translateX(-100%);
}

.menu-options {
    width: 103px;
    height: 250px;
    position: fixed;
    margin: 67px 0;

}

.menu-options li, .menu-options a{
    margin-top:25px;
    margin-left: 40px;
    font-family: 'josefin sans';
    font-weight: 600;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    color: #232233;
}

.menu{
    position: absolute;
    opacity: 0;
}

.logo {
    background-color: white;
    border-radius: 5px;
    padding: 24px 10px;
    align-self: center;
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header-download {
    margin: 3px;
    padding: 12px 6px;
    border-radius: 3px;
    border: none;
    background-color: #5956E9;
    color: white;
    font-family:'Josefin Sans';
    font-size: 10px;
    font-weight: 600;
}

@media (min-width: 768px) and (max-width: 1279px) {
    header {
        height: 60px;
        margin: 84px 40px;
    }

    .logo {
        padding: 31px 16px;
    }

    .header-contact {
        display: flex;
    }

    .menu-toggle{
        margin: 18px
    }
    .header-download {
        padding: 16px 12px 8px;
        font-size: 20px;
        line-height: 30px;
    }

    .menu-options-container {
        top: 144px;
    }
}

@media (min-width: 1280px) {
    header {
        height: 60px;
        margin: 84px 40px;
    }

    .logo {
        padding: 31px 16px;
    }

    .header-contact {
        display: flex;
        margin-top: 35px;
        top: -75px
    }

    .menu-toggle{
        margin: 18px
    }
    .header-download {
        padding: 16px 12px 8px;
        font-size: 20px;
        line-height: 30px;
    }

    .menu-options-container {
        display: contents;
    }
    
    .nav-menu {
        width: 100%;
    }

    .menu-options {
        position: relative;
        display: flex;
        gap: 32px;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        justify-content: space-between;
        width: 100%;
    }

    .menu-options-left, .menu-options-right {
        display: flex;
        gap: 32px;
    }

    .menu-options-left ul, .menu-options-right ul {
        display: flex;
        flex-direction: row;
    }

    .menu-options-left li a, .menu-options-right li a{
        list-style: none;
        margin: 0;
    }

    .menu-options-left ul li:nth-child(1) a {
        color: #5956E9;
    }

    .menu-options-left {
        margin-left: 52px;
        align-self: start;
    }

    .menu-options-left:first-child {
        color: #5956E9;
    }

    .menu-options-right {
        margin-right: 42px;
    }

    .menu-toggle {
        display: none;
    }

    .close-menu {
        display: none;
    }
}