body, html {
    margin: 0;
}

header {
    background-color: white;
    margin: 40px 16px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    position: relative;
    --menu-show: translateX(-100%);
    align-self: stretch;
}

.menu-toggle{
    background-image: url(/images/menu-line.svg);
    background-size: cover;
    width: 24px;
    height: 24px;
    margin: 8px;
    position: absolute;
}

.nav-menu:has(.menu:checked) {
    --menu-show: transform(translateX(0));

}

.menu-options-container {
    position: fixed;
    width: 267px;
    height: 356px;
    background-color: white;
    border-radius: 10px;
    margin: 0;
    top: 80px;
    left: 0;
    transform: var(--menu-show);
    transition: transform 0.5s;
    z-index: 2;
}

.close-menu {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
    background: #5956E9;
    background-size: cover;
    background-image: url(/images/menu-cross.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    --menu-show: translateX(-100%);
}

.menu-options {
    width: 103px;
    height: 250px;
    position: fixed;
    margin: 67px 0;

}

.menu-options li, a{
    margin-top:25px;
    font-family: 'josefin sans';
    font-weight: 600;
    font-size: 20px;
    color: black;
    list-style-type: none;
    text-decoration: none;
}

.menu{
    position: absolute;
    opacity: 0;
}

.logo {
    background-color: white;
    border-radius: 5px;
    padding: 24px;
    align-self: center;
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header-download {
    margin: 3px;
    padding: 12px 6px;
    border-radius: 3px;
    border: none;
    background-color: #5956E9;
    color: white;
    font-family:'Josefin Sans';
    font-size: 10px;
    font-weight: 600;
}