main{
    margin: 0;
    overflow: hidden;
}

.promotional-section-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.promotional-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/background-image.svg);
    background-size: cover;

}

.donwload-wrapper {
    width: 391px;
    height: 381px;
    display: relative;
    width: 391px;
    height: 381px;
    left: 16px;
    position: relative;
    display: flex;
    align-items: center;
}
.donwload-info {
    width: 356px;
    height: 318px;
    background-color: white;
    position: absolute;
    z-index: 1;
}
.background {
    right: 0;
    box-sizing: border-box;
    width: 375px;
    height: 381px;
    border: #7572FF 10px solid;
    position: absolute;
}

.donwload-info-title{
    font-family: 'Josefin Sans';
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    color: #5956E9;
    margin-top: 20px;
    margin: 30px 18px 18px
}

.donwload-info-text{
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6C6C72;
    margin: 0 12px 30px;
}

.smartphone {
    width: 100%;
    padding-left: 55px;
    height: 521px;
    left: 0;
    object-fit: contain;
}


@media (min-width: 768px) and (max-width: 1279px) {
    .promotional-section-container {
        flex-direction: row;
        gap: 55px;
    }

    .donwload-wrapper {
        width: 391px;
        height: 381px;
        left: 40px;
        position: relative;
        display: flex;
        align-items: center;
    }

    .smartphone {
        flex-grow: 0;
        padding-left: 0;
        position: relative;
    }

    .background {
        border: #7572FF 18px solid;
    }

    .about-us-main {
        display: flex;
    }
}