main{
    margin: 0;
    overflow: hidden;
}

.promotional-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/background-image.svg);
    background-size: cover;

}

.donwload-wrapper {
    width: 363px;
    height: 358px;
    left: 16px;
    position: relative;
    display: flex;
    align-items: center;
}
.donwload-info {
    width: 323px;
    height: 318px;
    background-color: white;
    position: absolute;
    z-index: 1;
}
.background {
    right: 0;
    box-sizing: border-box;
    width: 323px;
    height: 358px;
    border: #7572FF 10px solid;
    position: absolute;
}

.donwload-info-title{
    font-family: 'Josefin Sans';
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    color: #5956E9;
    margin-top: 20px;
    margin: 30px 18px 18px
}

.donwload-info-text{
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #6C6C72;
    margin: 0 12px 30px;
}

.info-download {
    font-family:'Josefin Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #232233;
    margin: 0 18px;
}

.smartphone {
    width: 100%;
    padding-left: 55px;
    height: 521px;
    z-index: 2;
    left: 0;
    object-fit: contain;
}

@media (min-width: 768px) and (max-width: 1279px) {

    .promotional-section-container {
        display: flex;
    }

    .donwload-wrapper {
        margin-left: 40px;
    }
}